body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

#chat-container {
    max-width: 80%;
    min-width: 320px;
    width: 100%;
    height: 80vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#chat-box {
  flex-grow: 1;
    padding: 1rem;
    overflow-y: scroll;
    background-color: lightred;
}

#chat-box {
    height: 70vh;    /* Set the fixed height */
    width: 70vw;     /* Set the fixed width */
    max-width: 90%;  /* Limit maximum width to 90% of the viewport width */
    margin: auto;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: auto;
}


.message {
    max-width: 80%;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.bot-message {
    background-color: #f8d7da;
    color: #721c24;
}

.user-message {
    background-color: #cce5ff;
    color: #004085;
    align-self: flex-end;
}

#user-input-container {
    display: flex;
    border-top: 1px solid #ccc;
}

#user-input {
    flex-grow: 1;
    border: none;
    padding: 1rem;
    font-size: 1rem;
}

#send-btn {
    font-size: 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    padding: 1rem;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #0056b3;
}

.typing-indicator {
    width: 0.25rem;
    height: 0.25rem;
    background-color: #721c24;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.25rem;
}

br {
    margin: 0;
}

.message-animation {
    animation: messageAnimation 0.5s ease-out;
}

@keyframes messageAnimation {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#mode-select{
    border-radius: 15px;
    color: white;
    background: darkblue;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
