<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/nav.css') }}"
      rel="stylesheet"
    />
    <style>
      html {
        font-family: "Courier New", Courier, monospace;
      }
    </style>
    {{ bootstrap.load_css() }} {%block head%} {%endblock%}
  </head>
  <body>
    <!-- Navbar-->

    <nav class="nav-custom navbar-dark navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">CookSpur</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('index')}}"
              >Main<span class="sr-only"></span
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('features')}}">Features</a>
          </li>
        </ul>
      </div>
    </nav>
    {%block body%}{%endblock%}
  </body>
</html>
