{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/main.css') }}"
/>
<!-- Include Bootstrap CSS -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-pzjw8f+uael5+6BdZv2b8g5f7U2/LX+qwT5vkzJl5fCjrU4hDb5g9z+nksGkeTIJ"
  crossorigin="anonymous"
/>
{% endblock %} {% block body %}
<div class="container">
  <h1 class="mt-5">You are logged in!</h1>
  <p>Hey, {{ user.first_name }} {{ user.last_name }}</p>

  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Recipe Chatbot</title>
      <link
        rel="stylesheet"
        href="{{ url_for('static',filename='css/chat.css')}}"
      />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="{{ url_for('static',filename='js/chat.js')}}"></script>
    </head>
    <body>
      <div class="chat-container">
        <div id="chat-box">
          <div class="message bot-message">
            "Welcome to the Cookstir chatbot! Enter a recipe name that you are
            looking for, or switch to a different mode from the drop down menu
            below!"
          </div>
          {% for message in messages|reverse %}
          <div
            {%
            if
            message.isUser
            %}class="message user-message"
            {%else%}class="message bot-message"
            {%
            endif
            %}
          >
            {{ message.content | safe}}
          </div>
          {% endfor %}
        </div>
        <div id="input-forms">
          <form method="post">
            <input
              type="text"
              id="user-input"
              placeholder="Type your message"
              name="message"
            />

            <submit id="send-btn">Send</submit>
          </form>

          <select id="mode-select">
            <option value="" disabled>Choose a mode</option>
            <option value="recipeName" selected>Recipe Name</option>
            <option value="ingredients">Ingredients</option>
            <option value="type">Search by Type</option>
          </select>
          <button id="regenerate-btn">Show More</button>
        </div>
      </div>
    </body>
  </html>

  {%endblock%}
</div>
