{%extends 'base.html' %}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"
{%endblock %}

{%block body%}
<div class="login">
    <h1>Login</h1>
    <form action="/" method='POST' class="signupform">
         <label for="username">Username</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br>
           <button type="button" class="submitbutton" form="signupform">Submit</button>
    </form>

    <a href="{{url_for('signup')}}">Don't have an account? Sign Up.</a>
</div>
{%endblock%}