{%extends 'base.html' %}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"/>
{%endblock %}


{%block body%}


<!--Possible improvements; method to load bootstrap for all documents at once; have a dynamic nav bar that loads for all docs-->
<div class="login">
    <h1>Sign-up</h1>
    <form action="" method='POST' class="signupform">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}

        {{form.submit}}

    <a href="{{url_for('auth.login')}}">Already have an account?Log In</a>
</div>
{%endblock%}